<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link href="{{ asset('bundles/admin/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/admin/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

        <link href="{{ asset('bundles/admin/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/admin/css/style.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
<div id="wrapper">
    {#Side bar#}
    {% include '@AdminBundle/Resources/views/partials/sidebar.html.twig' %}
    {#End side bar#}
    <div id="page-wrapper" class="gray-bg">
        {#Top bar#}
        {% include '@AdminBundle/Resources/views/partials/topbar.html.twig' %}
        {#End top bar#}
            {% block body %}
            {% endblock %}
        {% include '@AdminBundle/Resources/views/partials/footer.html.twig' %}
    </div>
</div>
{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/admin/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/admin/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/plugins/pace/pace.min.js') }}"></script>
{% endblock %}
</body>
</html>
