    <div class="panel-body">
        <fieldset class="form-horizontal">
            <div class="form-group required {% if form.slug.vars.errors|length %} has-error {% endif %}">
                <label class="col-sm-2 control-label">
                    {{ 'slug'|trans }}:
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                      {{ form_widget(form.slug) }}
                      <span class="input-group-btn">
                        <a class="btn btn-info">{{ 'generate'|trans }}</a>
                      </span>
                    </div>   
                    <div class="text-danger">
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
            </div>
            <div class="form-group {% if form.image.vars.errors|length %} has-error {% endif %}">
                <label class="col-sm-2 control-label">{{ 'image'|trans }}:</label>
                <div class="col-sm-10">
                    {% if form.vars.value.image is not null %}
                        <img src="{{ asset('upload/dir/' ~ form.vars.value.image) }}" />
                    {% endif %}
                    {{ form_widget(form.image) }}
                    <div class="text-danger">
                        {{ form_errors(form.image) }}
                    </div>
                </div>
            </div>
            <div class="form-group {% if form.parent_id.vars.errors|length %} has-error {% endif %}">
                <label class="col-sm-2 control-label">{{ 'parent'|trans }}:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.parent_id) }}
                    <div class="text-danger">
                        {{ form_errors(form.parent_id) }}
                    </div>
                </div>
            </div>
            <div class="form-group required {% if form.template.vars.errors|length %} has-error {% endif %}">
                <label class="col-sm-2 control-label">{{ 'template'|trans }}:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.template) }}
                    <div class="text-danger">
                        {{ form_errors(form.template) }}
                    </div>
                </div>
            </div>
            <div class="form-group required {% if form.status.vars.errors|length %} has-error {% endif %}">
                <label class="col-sm-2 control-label">{{ 'status'|trans }}:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.status) }}
                    <div class="text-danger">
                        {{ form_errors(form.status) }}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>