<div class="table-responsive">
    <table class="table table-striped dataTables" >
        <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
            {% for field in fields %}
                <td>
                    {{ attribute(item, field)|raw }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        {% if list|length == 0 %}
            <tr>
                <td class="text-center" colspan={{ fields|length  }}>
                    <h4>{{ 'empty'|trans }}</h4>    
                </td>
            </tr>
        {% endif %}
        </tbody>
{#        <tfoot>
        <tr>
            {% for field in fields %}
                <th>{{ field|trans }}</th>
            {% endfor %}
        </tr>
        </tfoot>#}
    </table>
</div>
